@layer widgy {

	* {
		box-sizing: border-box;
	}

	*[hidden]{
		display: none;
	}

	html, body {
		font-size: 2vh;
	}

	body {
		margin: 1em;
	}

	input, button, select, textarea {
		font-size: 1rem;
	}

	combo-box {
		display: inline-block;

		* {
			display: none;
		}
	}

	data-table {
		display: block;
		overflow-y: scroll;
	}

	widgy-dialog-gutter > * {
		position: fixed;
		z-index: 10000;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: #4444;
	}

}
